.color-div {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAK0lEQVQ4y2P8//8/A25w7949PLJMDBSAUc0jQzML/jSkpKQ0GmCjminRDADJNQjBr5nbigAAAABJRU5ErkJggg==");;
  margin: 0.2em;
}

.color-holder, .color-div {
  width: 3.4em;
  height: 3.4em;
  border-radius: 1.7em;
}

.color-wrapper, .input-wrapper {
  display: flex;
  min-height: 4em;
}
.input-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0;
  box-sizing: border-box;
  max-width: 21.6em;
}

.palette {
  width: 83%;
  max-width: 18em;
  max-height: 18em;
}

.slider {
  width: 17%;
  max-width: 3.6em;
  max-height: 18em;
}

.alpha-slider {
  width: 83%;
  max-width: 16.5em;
  box-sizing: border-box;
  margin: 0 0.71em;
}
