.color-palette {
  width: 100%;
  max-width: 18em;
  height: 3.8em;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAK0lEQVQ4y2P8//8/A25w7949PLJMDBSAUc0jQzML/jSkpKQ0GmCjminRDADJNQjBr5nbigAAAABJRU5ErkJggg==");
  position: relative;
  & > * {
    width: calc(100% + 0.71em);
    height: 100%;
    position: relative;
  }
}
